---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
import Greeting from '../components/Greeting.jsx';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- ページの読み込み時にJavascriptをクライアントに送信 -->
  <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <h2>aaaaaaaaaaaaa</h2>
  <Greeting client:visible messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
</BaseLayout>
